<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
	</head>
  <body>
		<header>
			<a href="/homepage?userid={{userid}}">homepage</a>
			<a href="/logout">logout</a>
			<h1>Details Page</h1>
		
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
    <main>
      <p>Here are the details of your file:</p>
      
      <table> <!-- displays the details of the file by looking at where it is stroed in record -->
        <tr><th>Details</th><th>Information</th></tr>
          <tr>
            <td>Upload Name:</td>
            <td>{{record.uploadname}}</td>
        </tr>
        <tr>
          <td>File Type:</td>
          <td>{{record.filetype}}</td>
          
        </tr>
        <tr>
          <td>File size:</td>
          <td>{{record.filesize}} Bites</td>
        </tr>
        <tr>
          <td>Description of file:</td>
          <td>{{record.description}}</td>
        </tr>
        <tr>
        </tr>
        <tr>
          <td>Download</td>
					<!-- link to download file -->
          <td> <a href="../uploads/{{record.file}}" download> link
            </a>
          </td>
        </tr>
      </table>
			<!--link to homepage passing along row and delete as well as userid.delete is used to detect if a row needs to be deleted in homepage -->
      <p><a href="/homepage?userid={{userid}}+&row={{row}}+&delete=true">Delete data:</a></p>
       