<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Add Quote</title>
  <meta name="description" content="form to upload a new quote">
  <meta name="author" content="John Doe">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
  <header>
		<h1>Upload Page</h1>
		<a href="/logout">Log out</a>
  </header>
  <form method="post" action="/upload?userid={{userid}}" enctype="multipart/form-data">
    <p>
			<br>
			<label>click here to upload file: 
      <input type="file" name="myfile" value="{{myfile}}" multiple required />
    </label>
    </p>
    <p>
    <label>Name of Upload: 
      <input type="text" name="nameofupload" value="{{nameofupload}}"required/>
    </label>
    </p>
    <p>
    <label>Details of Upload: 
      <textarea name="Details"value="{{Details}}"required></textarea>
    </label>
    </p>
    <p>
      <button>sumbit</button>
    </p>  
  </form>
</body>
</html>

